nemo

foo.nm
bar.nc
stdio.nm

*.o
*.a
*.so
*.so.*

core
*.core

# Autohell stuff is gone
# Cmake stuff
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
cmake/cmake_uninstall.cmake
install_manifest.txt
config.h
# Gprof
gmon.out
gprof.stats
