nemo

# every .nm file in the root directory
/*.nm

*.o
*.a
*.so*

*core*

# Autohell stuff is gone
# CMake stuff
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
cmake/cmake_uninstall.cmake
install_manifest.txt
config.h
# Gprof
gmon.out
gprof.stats
